/* apply body style  */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* apply li style  */
.nav-item{
    font-weight: 500;
    text-transform: uppercase;
    color: #deb3ad;
}

/* contact button styling */
.contact-btn{
    border: none;
    outline: none;
    cursor: pointer;
    height: 35px;
    width: 120px;
    border-radius: 5px;
}
.contact-btn:hover{
    border: none;
    outline: none; 
}

/* apply about heading style  */
.about-head{
    color: #423838;
    font-family: cursive;
    font-style: italic;
    text-transform: capitalize;
}
/* apply subheading style  */
.about-subHead{
    color: #3a3737;
    text-transform: capitalize;
    font-weight: 400;
    font-family: sans-serif;
}

/* apply image stly  */
.rounded-circle{
    border:2px solid #2196F3;
}
/* apply skills section style  */
.main-skills{
    background-image: url("../images/background-image.jpeg");
    background-size: cover;
    height: 100vh;
}
/* apply skills content style  */
.content {
    margin: 0 auto;
    position: relative;
    font-size: 12px;
    line-height: 2em;
    padding: 30px 0 30px;
    margin-top: 100px;
}
/* apply ul styles  */
#skill {
    list-style: none;
    padding-top: 30px;
}
/* apply li styles */
#skill li {
    margin-bottom: 70px;
    background: #000;
    height: 12px;
    border-radius: 5px;
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    margin: 40px auto;
}
/* apply li em style  */
#skill li em {
    position: relative;
    top: -30px;
    color: white;
    font-size: bold;
}
/* apply li span styles */
.expand {
    height: 5px;
    margin: 2px 0;
    background: #2187e7;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.4);
}
/* apply animation */

.html5 {
    width: 70%;
    -moz-animation: html5 2s ease-out;
    -webkit-animation: html5 2s ease-out;
}

.css3 {
    width: 70%;
    -moz-animation: css3 2s ease-out;
    -webkit-animation: css3 2s ease-out;
}

.js {
    width: 50%;
    -moz-animation: js 2s ease-out;
    -webkit-animation: js 2s ease-out;
}

.saas {
    width: 10%;
    -moz-animation: saas 2s ease-out;
    -webkit-animation: saas 2s ease-out;
}

.bootstrap {
    width: 40%;
    -moz-animation: bootstrap 2s ease-out;
    -webkit-animation: bootstrap 2s ease-out;
}

.react {
    width: 60%;
    -moz-animation: bootstrap 2s ease-out;
    -webkit-animation: bootstrap 2s ease-out;
}

@-moz-keyframes html5 {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    };
}

@-moz-keyframes css3 {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    };
}

@-moz-keyframes js {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    };
}

@-moz-keyframes saas {
    0% {
        width: 0px;
    }

    100% {
        width: 10%;
    };
}

@-moz-keyframes bootstrap {
    0% {
        width: 0px;
    }

    100% {
        width: 40%;
    };
}

@-moz-keyframes react {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    };
}

@-webkit-keyframes html5 {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    };
}

@-webkit-keyframes css3 {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    };
}

@-webkit-keyframes js {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    };
}

@-webkit-keyframes saas {
    0% {
        width: 0px;
    }

    100% {
        width: 10%;
    };
}

@-webkit-keyframes bootstrap {
    0% {
        width: 0px;
    }

    100% {
        width: 40%;
    };
}

@-webkit-keyframes react {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    };
}
/* card hover  */
.card:hover{
    box-shadow:2px 2px 2px 2px rgba(0,0,0,0.9);
}

/* footer styles */
.footer{
    display: flex;
   align-items: center; 
   height: 68px;
}
/* footer span styles */
.footer span{
    font-weight: 500;
}
/* icon styles */
.icon{
    margin-right: 20px;
    color: white;
    font-size: 30px;
    vertical-align: middle;
}
/* top to bottom   */
.bottom{
    position: relative;
}
/* top to bottom link styles  */
.bottom p a{
    position: absolute;
    right: 0;
    top: -20px;
    color: white;
    border: 1px solid black;
    padding: 10px 15px;
    background-color: rgba(0,0,0,0.4);
}

