/* apply body style  */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* apply div(ul) style */
.navbar-collapse{
    margin-left: 600px;
}
/* apply name image style */
.navbar img{
    margin-left: 20px;
}
/* apply li style  */
.nav-item{
    font-weight: 500;
    text-transform: uppercase;
}
/* apply li a style  */
.nav-link{
    color: white;
}
/* apply li a hover style  */
.nav-link:hover{
    color: rgb(63, 63, 216);
}
/* apply hamburger style  */
.navbar-toggler-icon{
    color: #3a3737;
}
/* apply about heading style  */
.about-head{
    color: #423838;
    font-family: cursive;
    font-style: italic;
    text-transform: capitalize;
}
/* apply subheading style  */
.about-subHead{
    color: #3a3737;
    text-transform: capitalize;
    font-weight: 400;
    font-family: auto;
}
/* about paragraph style  */
.about p{
    text-align: justify;
    color: #2196F3;
    font-family: sans-serif;
}
/* about paragraph first letter (pseudo element) style  */
.about p::first-letter{
    font-size: 30px;
    font-weight: bold;
}
/* apply image stly  */
.rounded-circle{
    border:2px solid #2196F3;
}
/* apply skills section style  */
.main-skills{
    background-image: url(https://directlinedev.com/media/services/service/background/background_20.wide.jpeg);
    background-size: cover;
    height: 100vh;
   
}
/* apply skills content style  */
.content {
    margin: 0 auto;
    position: relative;
    font-size: 12px;
    line-height: 2em;
    padding: 30px 0 30px;
    margin-top: 100px;
}
/* apply ul styles  */
#skill {
    list-style: none;
    padding-top: 30px;
}
/* apply li styles */
#skill li {
    margin-bottom: 70px;
    background: #000;
    height: 12px;
    border-radius: 5px;
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    margin: 40px auto;
}
/* apply li em style  */
#skill li em {
    position: relative;
    top: -30px;
    color: white;
    font-size: bold;
}
/* apply li span styles */
.expand {
    height: 5px;
    margin: 2px 0;
    background: #2187e7;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.4);
}
/* apply animation */

.html5 {
    width: 70%;
    -moz-animation: html5 2s ease-out;
    -webkit-animation: html5 2s ease-out;
}

.css3 {
    width: 70%;
    -moz-animation: css3 2s ease-out;
    -webkit-animation: css3 2s ease-out;
}

.js {
    width: 50%;
    -moz-animation: js 2s ease-out;
    -webkit-animation: js 2s ease-out;
}

.saas {
    width: 10%;
    -moz-animation: saas 2s ease-out;
    -webkit-animation: saas 2s ease-out;
}

.bootstrap {
    width: 40%;
    -moz-animation: bootstrap 2s ease-out;
    -webkit-animation: bootstrap 2s ease-out;
}

.react {
    width: 60%;
    -moz-animation: bootstrap 2s ease-out;
    -webkit-animation: bootstrap 2s ease-out;
}

@-moz-keyframes html5 {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    };
}

@-moz-keyframes css3 {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    };
}

@-moz-keyframes js {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    };
}

@-moz-keyframes saas {
    0% {
        width: 0px;
    }

    100% {
        width: 10%;
    };
}

@-moz-keyframes bootstrap {
    0% {
        width: 0px;
    }

    100% {
        width: 40%;
    };
}

@-moz-keyframes react {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    };
}

@-webkit-keyframes html5 {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    };
}

@-webkit-keyframes css3 {
    0% {
        width: 0px;
    }

    100% {
        width: 70%;
    };
}

@-webkit-keyframes js {
    0% {
        width: 0px;
    }

    100% {
        width: 50%;
    };
}

@-webkit-keyframes saas {
    0% {
        width: 0px;
    }

    100% {
        width: 10%;
    };
}

@-webkit-keyframes bootstrap {
    0% {
        width: 0px;
    }

    100% {
        width: 40%;
    };
}

@-webkit-keyframes react {
    0% {
        width: 0px;
    }

    100% {
        width: 60%;
    };
}
/* project skills  */
.image {
    margin-bottom: 40px;
  }
  /* project skills hover  */
  .image:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
    opacity: 0.7;
    cursor: pointer;
  }
  /* apply styles to  project and certificate heading  */
.project-head{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(59, 59, 247);
    letter-spacing: 1px;
    margin-bottom: 60px;
    margin-top: 40px;
}
/* certificate image animation */
.img-animate{
      animation-name: slide-up;
      animation-duration: 5s;
}
@keyframes slide-up{
    from{
        margin-top: 100%;
    }

    to{
        margin-top: 0%;
    }
}
/* contact form input styles */
form input{
    display: block;
    border: none;
    border: 2px solid #2196F3;
    border-radius: 25px;
    outline: none;
    padding: 10px;
}
/* contact form input style on  fucus(pseudo class) */
form input:focus{
    outline: none;
}
/* apply textarea styles */
textarea{
    display: block;
    border: none;
    border: 2px solid #2196F3;
    border-radius: 25px;
    outline: none;
    padding: 10px;
}
/* button styles */
input[type=submit]{
   margin-top: 10px;
   border: none;
   background: transparent;
   font-weight: bold;
}
/* apply button hover styles */
input[type=submit]:hover{
    color: #2196F3;
}
/* form heading  */
.form-head{
    font-weight: 100;
    margin-bottom: 15px;
    color: #3a3737;
}
/* project contact cell or head style */
.project-contact{
    color: #2196F3;
    text-transform: uppercase;
}
/* footer styles */
.footer{
   color: #333;
   padding: 30px 0px 10px;
}
/* footer span styles */
.footer span{
    color: #111;
    font-weight: 500;
}
/* icon styles */
.icon{
    margin-right: 20px;
    color: white;
    font-size: 30px;
    vertical-align: middle;
}
/* github icon styles */
.follow-github{
    margin-left: 60px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-right: 10px;
}
/* linkedin icon styles */
.follow-linkedin{
    font-size: 20px;
    font-weight: 500;
    color: white;
}
/* github icon hover styles */
.follow-github:hover{
    color: black;
    cursor: pointer;
}
/* linkedin icon hover styles */
.follow-linkedin:hover{
    color: blue;
    cursor: pointer;
}
/* top to bottom   */
.bottom{
    position: relative;
}
/* top to bottom link styles  */
.bottom p a{
    position: absolute;
    right: 0;
    top: -55px;
    color: white;
    border: 1px solid black;
    padding: 10px 15px;
    background-color: rgba(0,0,0,0.4);
}

/* apply media screen  */
@media  screen and (max-width: 470px){
    .navbar-collapse{
        margin-left: 0px;
    }
    .navbar-toggler-icon{
        color: black;
        margin-right: 30px;
    }
    .image{
        text-align: center;
    }
    .certificate{
        text-align: center;
    }
    .img-animate{
        margin-bottom: 20px;
    }
    .image {
        margin-bottom: 50px;
      }
      
      .image:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
        opacity: 0.7;
        cursor: pointer;
        
      }
}
